<turbo-frame id="example_frame">
    <strong>{{ dateTime | date('Y-m-d H:i:s:v') }}</strong>
</turbo-frame>

{#{% extends 'base.html.twig' %}#}

{#{% block body %}#}
{#    <h1>Data in body</h1>#}

{#    <turbo-frame id="example_frame">#}
{#        <span>Show only data in frame: <strong>{{ dateTime | date('Y-m-d H:i:s:v') }}</strong></span>#}
{#    </turbo-frame>#}
{#{% endblock %}#}
